<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-NOSHabit" version="0.0.1">
    <name>NOSHabit</name>

    <description>An Android Cordova plugin</description>
    <license>NOS</license>

    <keywords>cordova,android,toast,message,alert</keywords>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NOSHabit">
                <param name="android-package" value="com.outsystems.cordova.plugin.NOSHabit"/>
            </feature>
        </config-file>		
		
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />

		<resource-file src="libs/DeviceHealth.aar" target="libs/DeviceHealth.aar" />
	
    </platform>
</plugin>

